{% extends "./base.html" %}


{% block contenido %}


<h1>Perfil</h1>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ user.username }}</h5>
            <p class="card-text">Saldo: {{ user.saldo }}</p>
            <p class="card-text">Vip: {{ user.vip }}</p>
            <p class="card-text">Bio: {{ user.bio }}</p>

        </div>
    </div>

    <table>
        <ul>
            {% for compra in compras %}
                <li>{{compra}}</li>
            {% endfor %}
        </ul>
    </table>
{% endblock %}